

body,
html {
	overflow-x:hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	color: #1c1b1b;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 0;
}


h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 15px;  
}

img {
	border: none;
	max-width: 100%;
}

code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
	
}

address {
	line-height: 1.5;
	padding-left: 10px;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}




/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-hero {
    background-image: url("assets/img/chea\ back.png");
    display: inline;
    float: left;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: 80%; /* Use -webkit- for older versions of Safari */
    background-size: 80%; /* Standard syntax for background-size */
}

.mu-hero-overlay {
	display: inline;
	float: left;
	opacity: 0.94;
	width: 100%;
}


.mu-logo-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-logo {
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	font-weight: 600;
	background: #fff;
	padding: 5px 20px;
	margin-bottom: 30px;
	height: 400px;
}


/*=== Featured section ===*/

.mu-hero-featured-area {
	display: inline;
	float: left;
	padding: 60px 0 150px;
	width: 100%;
}

.mu-hero-featured-content {
	display: inline;
	float: right;
	margin-top: 50px;
	text-align: center;
	width: 100%;
}

.mu-hero-featured-content h1 {
	font-size: 45px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 15px;
}


.mu-hero-featured-content h2 {
	color: #fff;
	font-size: 25px;
	font-weight: 300;
}

.mu-event-date-line {
	background-color: #fff;
	color: #333;
	padding: 5px 10px;
	display: inline-block;
	margin-top: 10px;
	font-weight: 600;
}





/*--------------------*/
/* ABOUT US */
/*--------------------*/


#mu-about {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-title-area {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 120px;
	width: 100%;
}

.mu-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	padding: 0;
	z-index: 10;
	text-transform: capitalize;
}

.mu-about-left {
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-right {
	display: inline;
	float: left;
	margin-top: 30px;
	width: 100%;
}





/*--------------------*/
/* GUESTS */
/*--------------------*/
.Guests{
	text-align: center;
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}
  
  /* Clear floats after image containers */
  .row::after {
	content: "";
	clear: both;
	display: table;
}
.row {
	display: flex;
}
  
  .column {
	flex: 33.33%;
	padding: 5px;
}

/*--------------------*/
/* Whatsapp svg */
/*--------------------*/

#whatsapp-button {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 300px; /* Set a maximum width for the button container */
	width: 100%; /* Ensure the button container takes the full width within the specified maximum */
	padding: 10px 20px;
	background-color: #25D366; /* WhatsApp green color */
	color: #FFFFFF; /* Text color */
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
}

#whatsapp-button img {
	width: 20px; /* Adjust the size of the WhatsApp logo */
	height: auto;
	margin-right: 10px; /* Add some spacing between the logo and text */
}

@media (max-width: 600px) {
	/* Adjust styles for smaller screens */
	#whatsapp-button {
		font-size: 14px;
	}

	#whatsapp-button img {
		width: 15px;
	}
}
